@media only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        background-color: white;
        justify-content: center !important;
    }
    .whatsappbtn, .callbtn{
        padding: 9px 16px;
        font-size: 18px;
    }
    .bannerContent h1{
        font-size: 28px;
        text-align: center;
        line-height: 35px;
        font-weight: 700;
    }
    .bannerContent br{
        display: none;
    }
    .bannerContent p, .bannerContent ul li{
        font-size: 16px;
    }
    .bannerContentBtn {
        flex-direction: column;
    }
    .bannerContentBtn button{
        width: 100%;
    }
    .bannerForm{
        padding: 20px;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}